<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksa Vlku Blog</title>
</head>
<body>
    <h1>Ovo je moj prvi blog sajt</h1>
    <!-- kada se nalazi u duplim uglastim zagradama onda ga template languge (jinja) cita kao kod a ne kao HTML -->
    <h2>{{ 5 * 6 }}</h2> 
    <h3>Random number: {{ num }}</h3>

    <a href="{{ url_for('get_blog', number = 3) }}">Go To Blog</a> 
    <!--! urlfor i onda u tome upises string fukncije koju pozivas-->
    <!--! takodje mozemo da dodajemo atribute koji se ce pozvati prilikom otvaranja rout koji je pozvan-->
</body>
<footer>
    <p>Copyright {{ current_year }}. Build by {{ name }}</p>
</footer>
</html>