ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* selector za  HTML element */
p {
  color: red
}

/* selector za Class, koristi se kada hocemo vise stari da selektujemo */
.note {
  font-size: 20px;
}


/* selector za ID, koristi se za selektovanje jednog elementa koji je unikatan */
#id-selector-demo{
  color: green;
}

/* selector za Attribute i vrednosti atributa */
li[value = "4"]{
  color: blue;
}

/* universal selector targets all elements */
* {
  text-align: center
}