<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Aleksa Vlku</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Aleksa.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/cv.png" alt="Slika CV Aleksa Vlku">
      <h2>Hello.</h2>
      <p class="intro">I am an Python and Web Developer and PhD in Biological Sciences. I'm the founder and CUR/CAD NGO. I ❤️ Ankica, biology, nature and playing piano.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started taking coding courses when I was 26 years old because I wanted to develop my own programs for my PhD studies. I aimed to reduce the time spent on analysis and mundane tasks, so I created scripts to save time. Additionally, by building a website, I successfully earned some extra income on the side. Over time, I have accumulated a wealth of experience in designing and developing websites and web applications throughout my academic education.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/chillies.png" alt="chillies-img">

        <h3>Biology</h3>
        <p>As a doctoral candidate in Biological Studies, my expertise lies in orchids, botany, biodiversity, ecology, statistical analysis, and morphometrics. With a strong foundation in these areas, I am equipped to contribute valuable insights and advancements to the field of biological research.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/piano.jpeg" alt="piano-img">

        <h3>Piano</h3>
        <p>Aside from my academic pursuits, I am also an accomplished pianist. Playing the piano has been a lifelong passion of mine, allowing me to express myself creatively and find solace in the beauty of music. Whether interpreting classical compositions or improvising my own melodies, the piano serves as both a source of joy and a means of personal expression in my life.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you nature, piano or biology as I do</h3>
      <p class="contact-message">Love nature, piano or biology as much as I do? Let's talk about this subjects! We can code while we listen to piano music!</p>
      <a class="btn" href="mailto:wlq.advisors@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/angela-yu-963a584b/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/yu_angela">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2024 Aleksa Vlku @ WLQ Innovations.</p>
  </div>
</body>

</html>
